p {
  color: rgb(130, 20, 255);
  font-size: 25px;
}

body {
  background-color: #1f1f1f;
}

h1 {
  color: rgb(235, 20, 255);
  font-size: 35px;
}

a {
  color: rgb(235, 20, 255);
  font-size: 25px;
}

a:visited {
  color: rgb(235, 20, 255);
  font-size: 25px;
}

a:hover {
  color: rgb(106, 14, 114);
  font-size: 25px;
}